{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-manufacturer" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-manufacturer" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-manufacturer">{{ entry_location }}</label>
                <div class="col-sm-10">
                  <input type="text" name="manufacturer" value="{{ distributor_locations }}" placeholder="{{ entry_location }}" id="input-manufacturer" class="form-control"/> <input type="hidden" name="location_id" value="{{ location_id }}"/>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_image }}</label>
                <div class="col-sm-10"><a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="image" value="{{ image }}" id="input-image" />
                </div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                <div class="col-sm-10">
                  <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                  {% if error_name %}
                  <div class="text-danger">{{ error_name }}</div>
                  {% endif %}</div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-level">{{ entry_level }}</label>
                <div class="col-sm-10">
                  <input type="text" name="level" value="{{ level }}" placeholder="{{ entry_level }}" id="input-level" class="form-control" />
                  {% if error_level %}
                  <div class="text-danger">{{ error_level }}</div>
                  {% endif %}</div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-phone">{{ entry_phone }}</label>
                <div class="col-sm-10">
                  <input type="text" name="phone" value="{{ phone }}" placeholder="{{ entry_phone }}" id="input-phone" class="form-control" />
                  {% if error_phone %}
                  <div class="text-danger">{{ error_phone }}</div>
                  {% endif %}</div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                </div>
              </div>
            </div>
           
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
<script type="text/javascript"><!--
$('input[name=\'manufacturer\']').autocomplete({
	  'source': function(request, response) {
		  $.ajax({
			  url: 'index.php?route=catalog/distributor_location/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
			  dataType: 'json',
			  success: function(json) {
				  json.unshift({
					  location_id: 0,
					  name: '{{ text_none }}'
				  });

				  response($.map(json, function(item) {
					  return {
						  label: item['name'],
						  value: item['location_id']
					  }
				  }));
			  }
		  });
	  },
	  'select': function(item) {
		  $('input[name=\'manufacturer\']').val(item['label']);
		  $('input[name=\'location_id\']').val(item['value']);
	  }
  });
//--></script>


</div>
{{ footer }}